body{
    font-family: 'Roboto Condensed', sans-serif;
}
.header-flex{
    display: flex;
    background-color: blue;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 10%;
}
.first-img{
    width: 80%;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.header-title{
    font-size: 400%;
    color: white;
}
.first-link{
    font-size: 400%;
    text-decoration: none;
    color: black;
    background-color: orangered;
    border: 5px solid;
    border-radius: 10px;
    padding: 4%;
}
.grid img{
    height: 60%;
    width: 60%;
}
.grids{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}
.grid{
    border: 4px solid black;
    padding-left: 10%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px black;
}
.players{
    font-size: 100%;
}
.ending-section{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}
.ending-title{
    font-size: 400%;
}
.second-link{
    font-size: 200%;
    text-decoration: none;
    color: black;
    background-color: orangered;
    border: 5px solid;
    border-radius: 10px;
    padding-left: 4%;
    padding-right: 4%;
}
.football-logo{
    text-align: center;
}
.fa-icons{
    text-align: center;
    font-size: 2em;
}
.end{
    text-align: center;
}
.ending-section:hover{
    background-color: chartreuse;
}
.second-img{
    width: 80%;
}
.ending-section:hover .second-img{
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}
.header-flex:hover .first-img{
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .header-flex, .grids, .ending-section, .football-logo, .fa-icons{
        grid-template-columns: repeat(1, 1fr);
    }
    .grids{
        flex-direction: column;
    }
}
